@charset "UTF-8";

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}

//HEADER SECTION
.header {
  display: block;
  background-color: #e99a0a;
  padding: 20px 50px;
  text-align: center;
  @media only screen and (min-width: 775.01px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      text-align: left;
  }
}

.header__logo {
  display: block;
  .header__logo-link {
    font-weight: 100;
    padding: 10px 10px 10px 33px;
    font-size: 34px;
    text-decoration: none;
    color: #fff;
    letter-spacing: -1px;
    background-image: url('https://arianzargaran.github.io/week-3_OrangeJuice/icons/logo.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
    .header__logo--bold {
      font-weight: 500;}
      sup {
        vertical-align: super;
        font-size: 12px;
      }
    }
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 25%;
    .header__nav-item {
      color: #fff;
      text-decoration: none;
      padding: 10px 12px;
    }
  }


//SERACH BAR
.search-bar {
  width: 100%;
  margin: 0 auto 20px;
  background: #eee;
  padding: 12px 15px;
  @media only screen and (min-width: 578.01px) and (max-width: 1257.00px) {
    float: right;
    width: 40%;
    margin: 10px 30px; }
    @media only screen and (min-width: 1257.01px) {
      float: right;
      width: 200px;
      margin: 10px 30px;
      padding: 12px 15px;
    }
  }

.search-bar__field--grey {
  background: #eee;
  border: none;
  outline: none;
  font-size: 16px;
  &::placeholder {
    color: #bbb;
  }
  @media only screen and (min-width: 1257.01px) {
    font-size: 12px;
  }
}

.search-bar__button--grey {
  float: right;
  background: #eee;
  border: none;
  color: #bbb;
  @media only screen and (min-width: 1257.01px) {
    float: right;
    background: #eee;
    border: none;
    color: #bbb;
    }
  }


//CTA SECTION
.cta {
  width: 100%;
  padding: 10px 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
//CTA IMAGE LEFT
.cta__image {
  display: block;
  width: 45%;
  max-width: 503px;
  min-width: 300px;
  height: 100%;
  @media only screen and (min-width: 613.01px) and (max-width: 1257.00px) {
    .cta__image {
      width: 40%;
      min-width: 325px;
    }
  }
}
.cta__text-box--right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  @media only screen and (min-width: 613.01px) and (max-width: 1257.00px) {
    width: 40%;
  }
  @media only screen and (min-width: 1257.01px) {
      text-align: left;
      flex-direction: column;
      align-items: center;
      width: 40%;
    }
  .cta__paragraph {
    color: #e99a0a;
    font-size: 34px;
    line-height: 50px;
    @media only screen and (min-width: 613.01px) and (max-width: 1257.00px) {
      font-size: 30px;
      line-height: 45px;
      text-align: left;
      }
    }
}

.logo__paragraph {
  font-weight: 100;
  letter-spacing: -1px;
  font-weight: 500;}
  .cta__paragraph sup {
    vertical-align: super;
    font-size: 12px;
   @media only screen and (min-width: 613.01px) and (max-width: 1257.00px) {
     font-size: 10px;}
      }
   .cta__paragraph strong {
     color: #06d8ce;
     font-weight: 900;
    }
.cta__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 6%;
  @media only screen and (min-width: 613.01px) and (max-width: 1257.00px) {
    font-size: 18px;
    margin-top: 5%;
    }
  @media only screen and (min-width: 1257.01px) {
    justify-content: center;
    font-size: 16px;
    width: 110%;
  }
}
  .cta__button-quote--orange {
    text-align: center;
    text-decoration: none;
    color: #fff;
    flex-basis: 200px;
    margin-bottom: 5px;
    flex-shrink: 0;
    padding: 12px 5px;
    background: #e99a0a;
    @media only screen and (min-width: 1257.01px) {
      margin: 0px;
      margin-right: 5px;
    }
  }

  .cta__button-case-studies--cyan {
   text-align: center;
   text-decoration: none;
   color: #fff;
   flex-basis: 200px;
   flex-shrink: 0;
   padding: 12px 5px;
   background: #06d8ce;
  }

.blue__section {
  height: 100px;
  background: #06d8ce;
  }
